name: Collecte Bourse Fondamentale

on:
  schedule:
    - cron: '45 16 * * 1-5' # S'exécute à 16h45 UTC (pour passer après le premier robot)
  workflow_dispatch:      # Permet de lancer le robot manuellement

jobs:
  run_script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas requests beautifulsoup4 lxml supabase

      - name: Run script
        # Note : Bien que les clés soient dans le script, nous gardons une structure propre
        run: python collecte_bourse.py
